.con__sidebar {
    Width: 331px;
    margin: 24px 21px;
}

.services {
    background: #FFFCEF;
    border-radius: 13px;
    margin-top: 23px;
    padding: 23px 21px;
}

.ActiveServices {
    padding-right: 14px;
    padding-bottom: 14px;
    margin-top: 29px;
    margin-bottom: 125px;
}