.con__sidebar{
    Width:331px;
    margin: 24px 21px;
}
.services{
    background: #FFFCEF;
    border-radius: 13px;
    margin-top: 23px;
    padding: 23px 35px;
}
.ActiveServices {
        margin-top: 29px;
    margin-bottom: 191px;
}