.ser {
    margin-top: 14px;
    font-weight: 700;
    font-size: 11px;
    line-height: 17px;
    color: #707070;
    display: flex;
    align-items: center;
}
.ser img{
    margin-left: 14px;
    width: 31px;
    height: 31px;
}
.ser p {
    margin: 4px 0 8px 0;
}
.ser div {
    direction: ltr;
}